.custom-btn {
  width: 66%;
  margin: auto;
  color: white;
  background: purple;
  border: none;
  border-radius: 5px;
  height: 50px;
  font-size: 20px;
}

.custom-btn:hover {
  filter: brightness(75%);
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-footer {
  height: 150px;
}
