.custom-btn {
  width: 66%;
  margin: auto;
  color: white;
  background: purple;
  border: none;
  border-radius: 5px;
  height: 50px;
  font-size: 20px;
}

.custom-btn:hover {
  filter: brightness(75%);
}

.custom-modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 125px;
}

.custom-modal-footer {
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
