.custom-btn {
  width: 66%;
  margin: auto;
  color: white;
  background: purple;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

.custom-btn:hover {
  filter: brightness(75%);
}

.custom-input-group {
  width: 66%;
  margin: auto;
  height: 70px;
  font-size: 20px;
}

.custom-input {
  height: 50px;
  width: 100%;
}

.custom-input:focus {
  outline: 1px solid black;
}
